.playgroundWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  height: 100vh;
  box-sizing: border-box;
}

.playground {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  height: 100vh;
  box-sizing: border-box;
  padding: 16px;
}

.selectorWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}


.featureBtnArea {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.llmSelector {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.llmContent {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: 16px 8px;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.llmUserInput {
  width: 100%;
  box-sizing: border-box;
}