.chatItem {
  width: 100%;
  height: 40px;
  padding: 10px 14px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  transition: background-color 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  position: relative;
  content-visibility: auto;
  overflow-x: hidden;

  &:hover {
    background-color: #f1f1f1;
  }
}

.active {
  border-color: #d07df5c9;
  background-color: #f1f1f1;
}

.chatItemTitle {
  font-size: 14px;
  font-weight: bolder;
  display: block;
  width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatItemTip {
  color: rgb(166, 166, 166);
  font-size: 12px;
  margin-top: 2px;
}
