.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 24px;
}

.container {
  width: 50%;
  border-radius: 16px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.08);
  padding: 0 12px 12px 20px;
}

/* 屏幕宽度至少为 700px 时的样式 */
@media (max-width: 1325px) {
  .container {
    width: 90%;
  }
}


.submitBtn {
  margin-top: 8px;
  text-align: right;
}

.loading {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
