@media (prefers-color-scheme: dark) {
  .leftContent {
    background: rgb(14 9 15);
  }
}

@media (prefers-color-scheme: light) {
  .leftContent {
    background: #eee8fa;
  }
}

.layoutWrapper {
  display: flex;
  position: relative;

  .leftContent {
    box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, 0.05);
    transition: width ease 0.5s;
    overflow: hidden;
    width: 300px;
  }

  @media (max-width: 700px) {
    .leftContent {
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh;
    }
  }

  .rightContent {
    flex: 1;
  }
}

@media (max-width: 700px) {
  .layoutWrapper {
    display: block;
  }
}
