.container {
  width: 100%;
  display: flex;
  gap: 12px;
}

.promptLabel {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}

.promptContent {
  font-size: 14px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
}

.markdownWrapper {
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  padding: 10px;
  font-size: 14px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  word-break: break-word;
  border: var(--border-in-light);
  position: relative;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(10px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.userMarkdownWrapper {
  background: #e6f6fe;
  min-width: 70px;
}

:global(.dark) .userMarkdownWrapper {
  background-color: rgba(0, 0, 0, 0.01);
  color: #c9d1d9 !important;
}
